node_modules/
dist/
.DS_Store
bundle-stats.html
.vscode/
test-results.json
package-lock.json
yarn.lock

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output

# dotenv environment variables file
.env
.env.test
