language: node_js

node_js: node

cache: npm

jobs:
  include:
    # Define the release stage which runs semantic-release
    - stage: release
      node_js: lts/*
      before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - ./cc-test-reporter before-build
      script:
        - npm run build
        - npm run unit
      after_script:
        - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
      deploy:
        provider: script
        skip_cleanup: true
        script: npx semantic-release
